Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [18]:
import pandas as pd

# Create a list of data
data = [10, 20, 30, 40, 50]

# Create a Pandas Series from the list
series_data = pd.Series(data)

# Display the Series
print(series_data)

0    10
1    20
2    30
3    40
4    50
dtype: int64

Write a Pandas program to convert a Panda module Series to Python list and it's type

In [19]:
import pandas as pd

# Create a Pandas Series
series_data = pd.Series([10, 20, 30, 40, 50])

# Convert the Pandas Series to a Python list
list_data = series_data.tolist()

# Display the converted list and its type
print("Converted List:", list_data)
print("Type of Converted List:", type(list_data))

Converted List: [10, 20, 30, 40, 50]
Type of Converted List: <class 'list'>

Write a Pandas program to compare the elements of the two Pandas Series.

In [20]:
import pandas as pd

# Create the first Pandas Series
series1 = pd.Series([1, 2, 3, 4, 5])

# Create the second Pandas Series
series2 = pd.Series([1, 3, 3, 4, 5])

# Compare the elements of the two Series
comparison = series1 == series2

# Display the comparison result
print("Comparison Result:")
print(comparison)

Comparison Result:
0     True
1    False
2     True
3     True
4     True
dtype: bool

Write a Pandas program to change the data type of given a column or a Series.

In [21]:
import pandas as pd

# Create a Pandas DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': ['a', 'b', 'c', 'd', 'e']}
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Change the data type of column 'A' to float
df['A'] = df['A'].astype(float)

# Display the DataFrame after changing the data type
print("\nDataFrame after changing data type:")
print(df)

# Change the data type of column 'B' to categorical
df['B'] = df['B'].astype('category')

# Display the DataFrame after changing data type
print("\nDataFrame after changing data type of column 'B' to categorical:")
print(df)

Original DataFrame:
   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e

DataFrame after changing data type:
     A  B
0  1.0  a
1  2.0  b
2  3.0  c
3  4.0  d
4  5.0  e

DataFrame after changing data type of column 'B' to categorical:
     A  B
0  1.0  a
1  2.0  b
2  3.0  c
3  4.0  d
4  5.0  e

Write a Pandas program to get the powers of an array values element-wise.

Note: First array elements raised to powers from second array

Sample data: {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}

In [22]:
import pandas as pd

# Sample data
data = {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
df = pd.DataFrame(data)

# Define powers array
powers = [2, 3, 4]

# Raise each element of the DataFrame to corresponding powers
result_df = pd.DataFrame({col: df[col] ** power for col, power in zip(df.columns, powers)})

print(result_df)

      X       Y         Z
0  6084  592704  54700816
1  7225  830584  88529281
2  9216  704969  84934656
3  6400  571787  26873856
4  7396  636056  47458321

Write a Pandas program to get the first 3 rows of a given DataFrame. Sample Python dictionary data and list labels:

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',

'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [23]:
import pandas as pd
import numpy as np

# Sample data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create DataFrame
df = pd.DataFrame(exam_data, index=labels)

# Get the first 3 rows
first_3_rows = df.iloc[:3]

print(first_3_rows)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

![Screenshot 2024-03-24 022535.png]()

7. Write a Pandas program to display the default index and set a column as an Index in a given dataframe.

In [25]:
import pandas as pd

data = {
    'ID': [101, 102, 103, 104, 105, 106],
    'Street': ['Streat1', 'Streat2', 'Streat3', 'Streat4', 'Streat5', 'Streat6'],
    'IDCode': ['S001', 'S002', 'S003', 'S004', 'S005', 'S006'],
    'Grade': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'Name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'DOB': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'Age': [35, 32, 33, 30, 31, 32]
}

df = pd.DataFrame(data)  # Create DataFrame from data dictionary
df_with_index = df.set_index('ID')

print("\nDataFrame with 'ID' as Index:")
print(df_with_index)

DataFrame with 'ID' as Index:
      Street IDCode Grade            Name         DOB  Age
ID
101  Streat1   S001     V  Alberto Franco  15/05/2002   35
102  Streat2   S002     V    Gino Mcneill  17/05/2002   32
103  Streat3   S003    VI     Ryan Parkes  16/02/1999   33
104  Streat4   S004    VI    Eesha Hinton  25/09/1998   30
105  Streat5   S005     V    Gino Mcneill  11/05/2002   31
106  Streat6   S006    VI    David Parkes  15/09/1997   32

Write a Pandas program to display the default index and set a column as an

Index in a given dataframe and then reset the inde

In [26]:
import pandas as pd

# Sample data
data = {
    'ID': [101, 102, 103, 104, 105, 106],
    'Street': ['Streat1', 'Streat2', 'Streat3', 'Streat4', 'Streat5', 'Streat6'],
    'IDCode': ['S001', 'S002', 'S003', 'S004', 'S005', 'S006'],
    'Grade': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'Name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'DOB': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'Age': [35, 32, 33, 30, 31, 32]
}

df_with_index = df.set_index('ID')

print("\nDataFrame with 'ID' as Index:")
print(df_with_index)


df_reset_index = df_with_index.reset_index()

print("\nDataFrame with Reset Index:")
print(df_reset_index)

DataFrame with 'ID' as Index:
      Street IDCode Grade            Name         DOB  Age
ID
101  Streat1   S001     V  Alberto Franco  15/05/2002   35
102  Streat2   S002     V    Gino Mcneill  17/05/2002   32
103  Streat3   S003    VI     Ryan Parkes  16/02/1999   33
104  Streat4   S004    VI    Eesha Hinton  25/09/1998   30
105  Streat5   S005     V    Gino Mcneill  11/05/2002   31
106  Streat6   S006    VI    David Parkes  15/09/1997   32

DataFrame with Reset Index:
    ID   Street IDCode Grade            Name         DOB  Age
0  101  Streat1   S001     V  Alberto Franco  15/05/2002   35
1  102  Streat2   S002     V    Gino Mcneill  17/05/2002   32
2  103  Streat3   S003    VI     Ryan Parkes  16/02/1999   33
3  104  Streat4   S004    VI    Eesha Hinton  25/09/1998   30
4  105  Streat5   S005     V    Gino Mcneill  11/05/2002   31
5  106  Streat6   S006    VI    David Parkes  15/09/1997   32

Write a Pandas program to create a dataframe indexing by date and time.

In [27]:
df = pd.DataFrame(data)

df['DOB'] = pd.to_datetime(df['DOB'])

df.set_index('DOB', inplace=True)

print(df)

             ID   Street IDCode Grade            Name  Age
DOB
2002-05-15  101  Streat1   S001     V  Alberto Franco   35
2002-05-17  102  Streat2   S002     V    Gino Mcneill   32
1999-02-16  103  Streat3   S003    VI     Ryan Parkes   33
1998-09-25  104  Streat4   S004    VI    Eesha Hinton   30
2002-11-05  105  Streat5   S005     V    Gino Mcneill   31
1997-09-15  106  Streat6   S006    VI    David Parkes   32

<ipython-input-27-6caa268c0a70>:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['DOB'] = pd.to_datetime(df['DOB'])

Write a Pandas program to create a dataframe and set a title or name of the index column.

In [28]:
df.set_index('ID', inplace=True)

print(df)

      Street IDCode Grade            Name  Age
ID
101  Streat1   S001     V  Alberto Franco   35
102  Streat2   S002     V    Gino Mcneill   32
103  Streat3   S003    VI     Ryan Parkes   33
104  Streat4   S004    VI    Eesha Hinton   30
105  Streat5   S005     V    Gino Mcneill   31
106  Streat6   S006    VI    David Parkes   32

Write a Pandas program to select a specific row of given series/dataframe by integer index.

In [29]:
df = pd.DataFrame(data)

selected_row = df.iloc[2]

print("Selected Row:")
print(selected_row)

Selected Row:
ID                103
Street        Streat3
IDCode           S003
Grade              VI
Name      Ryan Parkes
DOB        16/02/1999
Age                33
Name: 2, dtype: object