### 1) Write a program to print the maximum between two numbers. (one-line conditional statement)

In [ ]:
x=float(input("first number: "))
y=float(input("second number: "))
if x > y:
  print("max is first number=", x)
else:
  print("max is second number=", y)

### 2) Write a program to find the maximum between three numbers.

In [ ]:
x=float(input("first number: "))
y=float(input("second number: "))
z=float(input("third number: "))
if x > y and x > z:
  print("max is first number=", x)
elif y > z:
  print("max is second number=", y)
else:
  print("max is third number=", z)

### 3) Write a program to check whether a number is negative, or positive (one-line conditional statement)

In [ ]:
number = float(input("Enter a number: "))
if number > 0:
 print("positive")
else:
  print("negative")

### 4) Write a  program to check whether a number is even or odd  (one-line statement).

In [ ]:
x = int(input("Enter your number"))
if x%2==0:
    print('Even')
else:
    print('odd')

###5) Write a  program to check whether a year is a leap year or not. (one-line conditional statement).

In [ ]:
year = int(input("Enter a year: "))
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print("leap year")
else:
    print("not a leap year")

###6) Write a  program to store the weekdays in a list and access the week day and print it by index.

In [ ]:
week_days = ['Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
day_index = int(input("Enter the index of the week day: "))

if 0 <= day_index <= 6:
    print("The week day at index", day_index, "is", week_days[day_index])
else:
    print("Invalid index")

###7) Write a  program to print all alphabets from a to z using while loop

In [ ]:
alphabet = ord('a')
while alphabet <= ord('z'):
    print(chr(alphabet))
    alphabet += 1

###8)Write a program to sotre numbers in the List and print its reverse

In [ ]:
list_one =[1,5,6,4,7,3,9]
print(list_one)
list_one.sort()
print("sortes is = ",list_one)
list_one.reverse()
print("reverse is = ",list_one)

### 9) Write a program to print the multiplcation table of any number

In [ ]:
n = int(input("Input a number: "))
for i in range(1, 11):
    print(n, 'x', i, '=', n * i)

###10)Write a program to print all even numbers between 1 to 100.(using while loop)

In [ ]:
n = 1
while n <= 100:
    if n % 2 == 0:
        print(n)
    n += 1