#### Multiply 10 with 5, and print the result.

In [ ]:
result = 10 * 5
print(result)

50

### Divide 10 by 2, and print the result.

In [ ]:
result = 10 / 2
print(result)

5.0

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [ ]:
fruits = ["banana", "orange", "apple", "grape"]

if "apple" in fruits:
    print("Apple is present in the list.")
else:
    print("Apple is not present in the list.")

Apple is present in the list.

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [ ]:
if 5 != 10:
    print("5 is not equal to 10.")

5 is not equal to 10.

### Use the correct logical operator to check if at least one of two statements is `True`.

In [ ]:
statement1 = True
statement2 = False

if statement1 or statement2:
    print("At least one statement is True.")
else:
    print("Both statements are False.")

At least one statement is True.

### Print the second item in the fruits list.

In [ ]:
fruits = ["apple", "banana", "orange", "grape"]

if len(fruits) >= 2:
    print(fruits[1])
else:
    print("The list has fewer than 2 items.")

banana

### Change the value from "apple" to "kiwi", in the fruits list.

In [ ]:
fruits = ["apple", "banana", "orange", "grape"]

if "apple" in fruits:
    index = fruits.index("apple")
    fruits[index] = "kiwi"
else:
    print("The list does not contain 'apple'.")

print(fruits)

['kiwi', 'banana', 'orange', 'grape']

### Use the append method to add "orange" to the fruits list.

In [ ]:
fruits = ["apple", "banana", "grape"]

fruits.append("orange")

print(fruits)

['apple', 'banana', 'grape', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [ ]:
fruits = ["apple", "banana", "grape"]

fruits.insert(1, "lemon")

print(fruits)

['apple', 'lemon', 'banana', 'grape']

### Use the remove method to remove `"banana"` from the fruits list.

In [ ]:
fruits = ["apple", "banana", "orange", "grape"]
fruits.remove("banana")
print(fruits)

['apple', 'orange', 'grape']

### Use negative indexing to print the last item in the list.

In [ ]:
fruits = ["apple", "banana", "orange", "grape"]
print(fruits[-1])

grape

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [ ]:
fruits = ["apple", "banana", "orange", "grape", "lemon", "lime"]
print(fruits[2:5])

['orange', 'grape', 'lemon']

### Use the correct syntax to print the number of items in the list.

In [ ]:
fruits = ["apple", "banana", "orange", "grape", "lemon", "lime"]
print("Number of items in the list: ", len(fruits))

Number of items in the list:  6

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

#### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

In [ ]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
958,743, 527]

for num in numbers:
     if num == 237:
         break
     if num % 2 == 0:
          print(num)

386
462
418
344
236
566
978
328
162
758
918

### Write a Python program that will accept the base and height of a triangle and compute its area.

<img src="https://www.w3resource.com/w3r_images/python-area-triangle-basic-exercise-30.png" alt="Girl in a jacket" width="500" height="600">

In [ ]:
b=int(input("enter base: "))
h=int(input("enter hight: "))
area= 0.5 * b * h
print(area)

enter base: 5
enter hight: 5
12.5

### Sort three integers without using conditional statements

In [ ]:
first_number=int(input("enter first number: "))
second_number=int(input("enter second number: "))
third_number=int(input("enter third number: "))
a1=max(first_number,second_number,third_number)
a3=min(first_number,second_number,third_number)
a2=(first_number+second_number+third_number)-a1-a3
print(a3,a2,a1)

enter first number: 55
enter second number: 66
enter third number: 77
55 66 77

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-69.png" alt="Girl in a jacket" width="500" height="600">

### Sort three integers :using conditional statements

In [ ]:
a=float(input("enter a: "))
b=float(input("enter b: "))
c=float(input("enter c: "))
if a>b:
  a,b = b,a
if a>c:
  a,c = c,a
if b>c:
  b,c = c,b
print(a,"<",b,"<",c)

enter a: 55
enter b: 66
enter c: 77
55.0 < 66.0 < 77.0

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

In [ ]:
def all_different(numbers):
    unique_numbers = set()
    for num in numbers:
        if num in unique_numbers:
            return False
        unique_numbers.add(num)
    return True
numbers = [1, 2, 3, 4, 5, 6, 7]
print(all_different(numbers))

numbers = [1, 2, 3, 3, 5, 6, 7]
print(all_different(numbers))

True
False

#### Dictionary

In [ ]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
list(dict1.keys())

['a', 'b', 'c']

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.values())

[200, 300]

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.items())

[('a', 200), ('c', 300)]

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [ ]:
sum([0,1,2,3,4,5])
sum((0,1,2,3,4,5))
sum({0,1,2,3,4,5})
sum({5:5,10:11})

### Python program to find the sum of all values in a dictionary

In [ ]:
my_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
sum_of_values = 0
for key, value in my_dict.items():
    sum_of_values += value
print(sum_of_values)

100

### Filter the negative values from given dictionary

In [ ]:
my_dict = {'a': -10, 'b': 20, 'c': -30, 'd': 40, 'e': -50}
filtered_dict = {k: v for k, v in my_dict.items() if v >= 0}
print(filtered_dict)

{'b': 20, 'd': 40}

### Test if all Values are Same in Dictionary

### test_dict = {"Gfg": 8, "is": 5, "Best": 5}
### False

In [ ]:
def all_values_same(d):
    first_value = next(iter(d.values()))
    for value in d.values():
        if value != first_value:
            return False
    return True
test_dict = {"Gfg": 8, "is": 5, "Best": 5}
print(all_values_same(test_dict))

d = {'a': 10, 'b': 20, 'c': 10, 'd': 20}
print(all_values_same(d))

False
False

# `any`

In [ ]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 0 : True}
x = any(mydict)
print(x)

False

#### <font color='gold'>Note: When used on a dictionary, the any() function checks if any of the keys are true, not the values.</font>

### Test if vlaue input  in dictionary value

### Calculate the sum of all numbers from 0 to a given number

In [ ]:
n = 10
sum = 0
for i in range(n + 1):
    sum += i
print(sum)

55

### Find the factorial of a given number using while loop

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

In [ ]:
n = 5
factorial = 1
i = 1
while i <= n:
    factorial *= i
    i += 1
print(factorial)

120

### Use a loop to display elements from a given list present at odd index positions

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
odd_index_list = []
for i in range(len(my_list)):
    if i % 2 != 0:
        odd_index_list.append(my_list[i])
print(odd_index_list)

[20, 40, 60, 80, 100]

### Calculate the cube of all numbers from 1 to a given number

In [ ]:
n = 5
cubes = []
for i in range(1, n + 1):
    cube = i ** 3
    cubes.append(cube)
print(cubes)

[1, 8, 27, 64, 125]

### len of str in list
### ['apple', 'orange', 'cat']

In [ ]:
l = ['apple', 'orange', 'cat']
print([ len(i) for i in l])

[5, 6, 3]

### program to count number of vowels using sets in given string


### Write a Python program to add an item to a tuple.

In [ ]:
original_tuple = (1, 2, 3, 4, 5)
new_tuple = original_tuple + (6,)
print("New tuple: ", new_tuple)

New tuple:  (1, 2, 3, 4, 5, 6)

### Write a Python program to multiply all the items in a list.

In [ ]:
my_list = [1, 2, 3, 4, 5]
product = 1
for num in my_list:
    product *= num
print("Product of list: ", product)

Product of list:  120

### Write a Python program to get the smallest number from a list.

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
smallest_num = my_list[0]
for num in my_list[1:]:
    if num < smallest_num:
        smallest_num = num
print("Smallest number: ", smallest_num)

Smallest number:  10

### Write a Python program to get the largest number from a list.

In [ ]:
def largest(list):
    large= list[0]
    for i in list:
        if i>large:
            large=i
    return large
li=[]
n=int(input("Enter size of list "))
for i in range(0,n):
    e=int(input("Enter element of list "))
    li.append(e)
print("largest in ",li,"is")
print(largest(li))

Enter size of list 3
Enter element of list 1
Enter element of list 2
Enter element of list 3
largest in  [1, 2, 3] is
3

### Write a Python program to clone or copy a list

In [ ]:
original_list = [1, 2, 3, 4, 5]
cloned_list = original_list[:]
print("Original list: ", original_list)
print("Cloned list: ", cloned_list)
cloned_list.append(6)
cloned_list.append(7)
print("Original list after modifying cloned list: ", original_list)
print("Cloned list after modifying cloned list: ", cloned_list)

Original list:  [1, 2, 3, 4, 5]
Cloned list:  [1, 2, 3, 4, 5]
Original list after modifying cloned list:  [1, 2, 3, 4, 5]
Cloned list after modifying cloned list:  [1, 2, 3, 4, 5, 6, 7]

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [ ]:
s = {0, 1, 3, 4, 5}
s.remove(3)
print(s)

{0, 1, 4, 5}

### Write a Python program to find the maximum and minimum values in a set.

In [ ]:
my_set = {10, 20, 30, 40, 50, 60, 70, 80, 90, 100}
max_value = max(my_set)
min_value = min(my_set)
print("Maximum value: ", max_value)
print("Minimum value: ", min_value)

Maximum value:  100
Minimum value:  10

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

In [ ]:
tuple1 = ("name", "age", "city", "city")
my_dict = {}
for i, item in enumerate(tuple1):
    my_dict[i] = item
print(my_dict)

{0: 'name', 1: 'age', 2: 'city', 3: 'city'}

### Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

output_list = [(x, y, 100) for x, y, z in sample_list ]

print(output_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]